<div class= "container">
<h1>My personal blog</h1>
<p>You can read anything you want</p>
<a href="/pages/about"></a>
<%= link_to "About me", about_path, class: "btn btn-secondary"%>
<%= link_to "Blog", posts_path, class: "btn btn-primary"%>
</div>
